a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}*/

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 44px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  background-color: rgba(255, 255, 255, 0.50);
  /* Set the fixed height of the footer here */
  height: 44px;
  line-height: 27px; /* Vertically center the text there */
}

/* Nav Bar Custom Color 
https://work.smarchal.com/twbscolor/4.0.0/css/1c628f117fa3f8fbfbecf0f10
------------------------------------------------- */

/* Datatables
------------------------------------------------- */
.dt-button-background {
    z-index: -1 !important;
}

#buttongroup {
    /*padding-left: 10px;*/
    display: inline-block;
}


/* borders */
.border-left-primary {
    border-left: 0.25rem solid #e5e5e5 !important;
}


/*navbar*/
/*#region NAVBAR */
/*  Blue #1c628f
    Navy #101c28
    Light Blue #3ab6df
    Hover Blue #117fa3
    Yellow #ffb500
    Light Gray #f2f2f2
    Gray #777777
*/

.bg-m-blue {
    background-color: #1c628f !important;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-7-26 10:25:1
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}


.slide-in-right {
    -webkit-animation: slide-in-right 0.75s both;
    animation: slide-in-right 0.75s both;
}

/* Expand Datatable */
.content.container {
    transition: 1s;
    transition: max-width 0.15s ease-out;
    /*max-width: inherit;*/
}
.content.container-fluid {
    transition: 1s;
    transition: max-width 0.25s ease-in;
    max-width: 100%;
}



/* - -   - */
body {
    /*font-size: .8125rem;
    letter-spacing: .1px;
    text-rendering: optimizeLegibility;
    line-height: 1.47;*/
}


/* 01 bootstrap date-picker */
/* default color change - remove gardient */
.datepicker table tr td,
.datepicker table tr th {
    width: 34px !important;
    height: 30px !important
}

    .datepicker table tr td.new,
    .datepicker table tr td.old {
        color: #bbbbbb
    }

    .datepicker table tr td span.active.active,
    .datepicker table tr td span.focused,
    .datepicker table tr td.active.active,
    .datepicker table tr td.active.highlighted.active,
    .datepicker table tr td.active.highlighted:active,
    .datepicker table tr td.active:active,
    .datepicker table tr td.selected,
    .datepicker table tr td.selected.highlighted {
        background-color: #267AB0 !important;
        border-color: #1C628F !important;
        color: #fff !important;
        background-image: none;
    }

        .datepicker table tr td.active.active.focus,
        .datepicker table tr td.active.active:focus,
        .datepicker table tr td.active.active:hover,
        .datepicker table tr td.active.highlighted.active.focus,
        .datepicker table tr td.active.highlighted.active:focus,
        .datepicker table tr td.active.highlighted.active:hover,
        .datepicker table tr td.active.highlighted:active.focus,
        .datepicker table tr td.active.highlighted:active:focus,
        .datepicker table tr td.active.highlighted:active:hover,
        .datepicker table tr td.active:active.focus,
        .datepicker table tr td.active:active:focus,
        .datepicker table tr td.active:active:hover,
        .datepicker table tr td.selected.active.focus,
        .datepicker table tr td.selected.active:focus,
        .datepicker table tr td.selected.active:hover,
        .datepicker table tr td.selected.highlighted.active.focus,
        .datepicker table tr td.selected.highlighted.active:focus,
        .datepicker table tr td.selected.highlighted.active:hover,
        .datepicker table tr td.selected.highlighted:active.focus,
        .datepicker table tr td.selected.highlighted:active:focus,
        .datepicker table tr td.selected.highlighted:active:hover,
        .datepicker table tr td.selected.highlighted:hover,
        .datepicker table tr td.selected:active.focus,
        .datepicker table tr td.selected:active:focus,
        .datepicker table tr td.selected:active:hover,
        .datepicker table tr td.selected:hover {
            background-color: #267AB0;
            border-color: #1C628F;
            color: #fff
        }

.datepicker table {
    width: 100%
}

.datepicker.datepicker-inline {
    border: 1px solid #f1f1f1
}

.datepicker thead th.datepicker-switch,
.datepicker thead th.next,
.datepicker thead th.prev {
    font-weight: 500;
    color: #c6c6c6
}

.datepicker {
    width: 265px;
    padding: 10px
}

    .datepicker table tr td.today {
        color: #000;
        background-color: #fbdea9;
        border-color: #ffc761;
        background-image: none;
    }

div.input-group.date span.input-group-append {
    cursor:pointer;
}

/* 02 - Required Field */
.form-group.required .control-label:after {
    content: "*";
    color: #d9534f;
    font-weight: bold;
    font-size: 1rem;
}

/* 03 - Set ladda-button loading pointer default */
.ladda-button[data-style="expand-left"][data-loading] {
    cursor: default;
}

/* 04 - Toast message position */
#toast-container {
    position: sticky;
    z-index: 1055;
    top: 0;
}

#toast-wrapper {
    position: fixed;
    top: 60px;
    right: 0;
    margin: 5px;
}

#toast-container > #toast-wrapper > .toast {
    min-width: 350px;
}

    #toast-container > #toast-wrapper > .toast > .toast-header strong {
        padding-right: 20px;
    }

/* 05 - Action Button */

.btn-action {
    padding-left: 0.3rem !important;
    padding-right: 0.3rem !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: -5px;
}

    .btn-action:hover {
        background-color: #dcdcdc;
    }

/* 06 JStree */

#tree-container {
    width: 100%;
    /*height: 100px;*/
    max-height: 400px;
    overflow: auto;
    display: inline-block;
    resize: vertical
}

.jstree-default a {
    white-space: normal !important;
    height: auto;
}

.jstree-anchor {
    height: auto !important;
}

.jstree-default li > ins {
    vertical-align: top;
}

.jstree-leaf {
    height: auto;
}

    .jstree-leaf a {
        height: auto !important;
    }

.panel-heading .fa-chevron:after {
    content: "\f078";
}

.panel-heading.collapsed .fa-chevron:after {
    content: "\f054";
}