@{
    ViewData["Title"] = "";
    Layout = "_LayoutBlank";
}

<div class="login-container" style="margin-top:150px;">
    <div class="row align-items-center">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <img class="img-fluid" src="~/images/MEInsightLogo.png" />
                <br />
                <span class="text-gray" style="font-size:20px; ">@Localizer["An open source Monitoring and Evaluation"]</span>
                <br />
                <span class="text-gray" style="font-size:20px; ">@Localizer["Data Management System for"]</span>
                <br />
                <span class="text-gray" style="font-size:20px; ">@Localizer["International Development Projects"]</span>
                <br />
                <a class="btn btn-secondary mt-5" href="/Home/AppStart">@Localizer["Log In"]</a>
                <br />
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12 text-center">
            <img class="img-fluid" src="~/images/EDCLogo.png" style="width:220px;" /><br />
            <small> </small>
            <br /> &copy; 2019 Education Development Center, Inc.
        </div>
    </div>
</div>