@page
@model AccessDeniedModel
@{
    ViewData["Title"] = @Localizer["Access denied"].Value;
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">@Localizer["You do not have access to this resource"].</p>
</header>
