@page
@model LogoutModel
@{
    ViewData["Title"] = Localizer["Log out"].Value;
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>@Localizer["You have successfully logged out of the application"].</p>
</header>