@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = Localizer["Reset password confirmation"].Value;
}

<h1>@ViewData["Title"]</h1>
<p>
    @Localizer["Your password has been reset. Please "]<a asp-page="./Login">@Localizer["click here to log in"]</a>.
</p>