registry=https://registry.npmjs.org/
//registry.npmjs.com/:_password="a2FtaXJhaTE="
//registry.npmjs.com/:username=rxaviers
//registry.npmjs.com/:email=rxaviers@gmail.com
//registry.npmjs.com/:always-auth=false
//registry.npmjs.com/:_authToken=36c10436-8235-4eda-87dc-d130b4eeaa58
